label.parameters {
    display: inline-block;
    width: 20px;
    text-align: left;
  }

input.parameters {
    width: 55px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    border-bottom-style: solid;
}

input.bounds {
    width: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    border-bottom-style: solid;
}

body {
    min-width: 230px;
}

button.calculate_button{

    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

button.calculate_button:hover {
    background-color: #008CBA;
    color: white;
}

.bottom_button{

    margin-top:20px; 
    text-align:center;
}