input {
    height: 17px;
    width: 60px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.5px solid black;
}

body{
    min-width: 200px;
}

p{
    font-size: 16px;
    margin: 0px;
}
